.header {
  border-bottom: 1px solid var(--grey-2);
  padding: 96px 0 69px;
  background: var(--white);
}

@media (min-width: 768px) {
  .header {
    padding: 96px 0 77px;
  }
}

.header_inner {
  border: none;
  padding: 32px 0;
  background: unset;
}

@media (min-width: 768px) {
  .header_inner {
    padding: 41px 0;
  }
}

.header__title {
  font-family: Inter;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  margin: 0;
}

@media (min-width: 768px) {
  .header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
  }
}
