.header {
  border-bottom: 1px solid var(--grey-2);
  padding: 16px 0 69px;
  background: var(--white);
}

@media (min-width: 768px) {
  .header {
    padding: 24px 0 77px;
  }
}

.header_inner {
  border: none;
  padding: 16px 0;
  background: unset;
}

@media (min-width: 768px) {
  .header_inner {
    padding: 24px 0;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__logo {
  align-self: center;
}

@media (min-width: 768px) {
  .header__logo {
    align-self: flex-start;
  }
}

.header__title {
  font-family: Inter;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  margin: 48px 0 0;
}

@media (min-width: 768px) {
  .header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 38px 0 0;
  }
}
