.sidebar {
  display: grid;
  gap: 32px;
}

.sidebar__title {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--font-color);
  margin: 0;
}

.sidebar_menu .sidebar__title {
  color: var(--grey-3);
}

.sidebar__list {
  list-style-type: none;
  margin: 16px 0 0;
  padding: 0;
  display: grid;
  gap: 4px;
}

.sidebar_menu .sidebar__list {
  gap: 16px;
}

.sidebar__item {
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
}

.sidebar_menu .sidebar__item {
  font-size: 16px;
  line-height: 24px;
}

.sidebar__link {
  color: var(--font-color);
}

.sidebar__link_current {
  color: #d84910;
  pointer-events: none;
}
