.card {
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0px 2px 4px 0px #2124290d;
}

.card__preview {
  height: 266px;
}

.card__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: var(--black);
  margin: 16px 0 0;
  padding: 2px 0;
}
