.accordion {
  font-family: 'Inter', sans-serif;
  line-height: 24px;
}

.accordion__item {
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  margin-bottom: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  list-style: none;
  padding: 24px 32px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion__item:open .accordion__summary {
  padding-bottom: 16px;
}

.accordion__item:open .accordion__icon {
  transform: rotate(-180deg);
}

.accordion__description {
  margin: 0;
  padding: 0 56px 32px 32px;
  color: var(--grey-4);
}
