.modal {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.5);
}

.modal__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  padding: 30px 40px 33px;
}

.modal__header {
  margin-bottom: 14px;
}

.modal__title {
  margin: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334d6e;
}

.modal__close {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal__body {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}
