@import './modern-normalize.css';
@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/main-section/main-section.css';
@import '../../components/footer/footer.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple-1: #7048e8;
  --purple-2: #5028c6;
  --blue-1: #4263eb;
  --blue-2: #2342c0;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  --height-1: 48px;
}

* {
  font-family: 'Roboto', sans-serif;
}
