.main-section {
  padding: 68px 0 204px;
}

.main-section_inner {
  padding: 36px 0;
}

.main-section__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-section__container_inner {
  display: grid;
  grid-template-columns: 229px 1fr;
  gap: 56px;
  align-items: start;
}
