.calendar {
  border-radius: 8px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  padding: 28px 26px 32px;
}

.calendar__title {
  margin: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334d6e;
  text-align: center;
}

.calendar__grid-wrapper {
  padding-bottom: 100%;
  position: relative;
  margin-top: 20px;
}

.calendar__grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.calendar__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans 3';
  line-height: 20px;
  color: #334d6e;
}

.calendar__cell_day {
  font-family: Inter;
  font-size: 14px;
  color: #90a0b7;
}

.calendar__cell_range {
  background: rgba(160, 177, 245, 0.2);
}

.calendar__cell_range-edge {
  background: var(--blue-1);
  color: var(--white);
}
