.footer {
  border-top: 1px solid var(--grey-2);
  text-align: center;
  font-family: Inter;
  color: var(--black);
  padding: 71px 0 136px;
  background: var(--white);
}

.footer_inner {
  border: none;
  padding: 56px 0;
  background: unset;
}

.footer__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.footer__title_small {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-3);
}

.footer__description {
  line-height: 24px;
  margin: 32px 0 0;
  max-width: 640px;
}
