.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  left: -100vw;
}

.checkbox__state {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox__input:disabled ~ .checkbox__state {
  pointer-events: none;
}

.checkbox__control {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background: var(--blue-1);
  border: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background: var(--grey-2);
  border: none;
}

.checkbox__icon {
  color: var(--white);
  visibility: hidden;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  visibility: visible;
}

.checkbox__label {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
  text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
  color: var(--grey-2);
}
