.page-bg-img {
  min-height: 100vh;
  background-image: url('./public/forest_400.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 400px) {
  .page-bg-img {
    background-image: url('./public/forest_768.jpg');
  }
}

@media (min-width: 768px) {
  .page-bg-img {
    background-image: url('./public/forest_1024.jpg');
  }
}

@media (min-width: 1024px) {
  .page-bg-img {
    background-image: url('./public/forest_2560.jpg');
  }
}
