.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__label {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-3);
}

.input_disabled .input__label {
  color: var(--grey-2);
}

.input__container {
  position: relative;
}

.input__input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  outline: none;
  padding: 14px 56px 14px 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: var(--grey-4);
}

.input_error .input__input {
  border: 1px solid var(--red);
  box-shadow: 0px 1px 1px 0px #f03d3e1a;
}

.input__input:focus {
  border: 1px solid var(--blue-1);
  box-shadow: 0px 1px 1px 0px #339af01a;
}

.input__input:disabled {
  background: var(--grey-2);
  border: 1px solid var(--grey-2);
  box-shadow: none;
  color: var(--grey-3);
}

.input__input::placeholder {
  color: var(--grey-2);
}

.input__input:disabled::placeholder {
  visibility: hidden;
}

.input__icon {
  width: 56px;
  margin: 0 1px 0 0;
  display: grid;
  place-items: center;
  cursor: text;
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.input__icon_success {
  color: var(--blue-2);
}

.input__icon_error {
  color: var(--red);
}

.input_success .input__icon_success,
.input_error .input__icon_error {
  visibility: visible;
}

.input__input:disabled ~ .input__icon_success,
.input__input:disabled ~ .input__icon_error {
  pointer-events: none;
  color: var(--grey-3);
}
