.input {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
}

.input__input {
  grid-area: 2 / 1 / 3 / 3;
  border-radius: 8px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  outline: none;
  padding: 14px 24px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-4);
  text-overflow: ellipsis;
}

.input_success .input__input,
.input_error .input__input {
  padding-right: 56px;
}

.input_error .input__input {
  border: 1px solid var(--red);
  box-shadow: 0px 1px 1px 0px #f03d3e1a;
}

.input__input:focus {
  border: 1px solid var(--blue-1);
  box-shadow: 0px 1px 1px 0px #339af01a;
}

.input__input:disabled {
  background: var(--grey-2);
  border: 1px solid var(--grey-2);
  box-shadow: none;
  color: var(--grey-3);
}

.input__input::placeholder {
  color: var(--grey-2);
}

.input__input:disabled::placeholder {
  visibility: hidden;
}

.input__label {
  grid-area: 1 / 1 / 2 / 3;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-3);
}

.input__input:disabled ~ .input__label {
  color: var(--grey-2);
}

.input__icon-success,
.input__icon-error {
  grid-area: 2 / 2 / 3 / 3;
  width: 56px;
  margin: 0 1px 0 0;
  display: grid;
  place-items: center;
  cursor: text;
  visibility: hidden;
}

.input__icon-success {
  color: var(--blue-2);
}

.input__icon-error {
  color: var(--red);
}

.input_success .input__icon-success,
.input_error .input__icon-error {
  visibility: visible;
}

.input__input:disabled ~ .input__icon-success,
.input__input:disabled ~ .input__icon-error {
  pointer-events: none;
  color: var(--grey-3);
}
